{% extends "layout.html" %}
{% block content %}
  {% for post in posts %}
    <article class="d-flex align-items-start content-section mb-4">
      <img class="rounded-circle article-img me-3" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" alt="Profile">
      <div class="flex-grow-1">
        <div class="article-metadata mb-2">
          <a class="me-3 author-link fw-bold" href="#">{{ post.author.username }}</a>
          <small class="text-muted">{{ post.date_posted.strftime('%d-%m-%Y') }}</small>
        </div>
        <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
      </div>
    </article>
  {% endfor %}
{% endblock content %}
  
